body {
    /* background-color: #343a40; */
}
footer {
    background-color: #343a40;
    opacity: .85;
}

#lineDrawing {
    height: 500px;
}

.my-path {
    fill: none;
    stroke: #cfc33a;
    stroke-width: 4;
}
.backgroundheader{
    height: 95vh;
    width: 99.9;
    background-size: 100% 100%;
    background-image: url("/assets/background.jpg");
    opacity: .85;
    background-position: center;

}

.logan-anderson-path {
    fill: none;
    stroke: white;
    stroke-width: 1;
}

#logan-svg-id {
    opacity: 1;
    opacity: 1;
}
.content {
    color: black;
    background: white;
    text-align: center;
    font-size: 40px;
}

/* #svg-id {
    background-color: #343a40;
    height: 90vh;
    width: 99.9;

} */

span {
    padding: 0px;
    margin: 0px;
}

.logan-titile {
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    opacity: 1;
}
.hidden {
    opacity: 0;
}

#joke {
    color: white;
    font-size: 1.5rem;
    font-family: 'Livvic', sans-serif;
    font-weight: 400;
}