footer {
    background-color: #343a40;
    opacity: .85;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: inline-block;
}

#lineDrawing {
    height: 500px;
}

.my-path {
    fill: none;
    stroke: #cfc33a;
    stroke-width: 4;
}

/* .logan-path {
    fill: none;
    stroke: white;
    stroke-width: 1;
} */
.logan-anderson-path {
    fill: none;
    stroke: white;
    stroke-width: 1;
}
/* #logan-anderson-svg {
    height: 500px;
    width: 1000px;
} */
#logan-svg-id {
    background-color: #343a40;
    height: 95vh;
    width: 99.9;

}
/* #logan-anderson-id {
    height: 90vh;
    width: 99.9;
} */

/* #svg-id {
    background-color: #343a40;
    height: 90vh;
    width: 99.9;

} */

span {
    padding: 0px;
    margin: 0px;
}

.logan-titile {
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    opacity: 1;
}
.hidden {
    opacity: 0;
}
